.f-h
  height: 100%

.f-w
  width: 100%

.f-ib
  display: inline-block

.f-m0
  margin: 0

.f-pa
  position: absolute

.f-pr
  position: relative

.f-p0
  padding: 0

.f-tc
  text-align: center

.testBg
  background: #f2f2f2

.testBg2
  background: #66afe9


.ellipsis
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
